* {
    font-family: "Terminus (TTF)", "Symbols Nerd Font", sans-serif;
    font-size: 14px;
    background: black;
    color: white;
    border: none;
}

#workspaces button {
    padding: 0;
}

#workspaces button.active {
    border-bottom: 2px solid #BC2421;
}

#tray {
    padding: 10px;
}
